<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="d-block mx-auto my-3 w-75 text-center alert alert-success h5"
        role="alert" id="mostrarUserName">Administrador userInfo.name userInfo.lastName  
    </div>
    <h3 class="d-block mx-auto my-2 text-center">Update or Delete your Product</h3>
    <%- include('../partials/productDetailsCard'); %>
    <%- include('../partials/formUpdateProduct'); %>
    <br>
    <div id="updateProducto"> 
    </div>
    <%- include('../partials/footer'); %>

        <!--    scripts     -->
        <script type="text/javascript" src="../../../index.js"></script>
                    
</body>

</html>